[package]
name = "spacepackets"
version = "0.4.2"
edition = "2021"
rust-version = "1.60"
authors = ["Robin Mueller <muellerr@irs.uni-stuttgart.de>"]
description = "Generic implementations for various CCSDS and ECSS packet standards"
homepage = "https://egit.irs.uni-stuttgart.de/rust/spacepackets"
repository = "https://egit.irs.uni-stuttgart.de/rust/spacepackets"
license = "Apache-2.0"
keywords = ["no-std", "space", "packets", "ccsds", "ecss"]
categories = ["aerospace", "aerospace::space-protocols", "no-std", "hardware-support", "embedded"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zerocopy = "0.6"
crc = "3"
delegate = "0.8"

[dependencies.serde]
version = "1"
optional = true
default-features = false
features = ["derive"]

[dependencies.chrono]
version = "0.4"
default-features = false

[dependencies.num-traits]
version = "0.2"
default-features = false

[dev-dependencies.postcard]
version = "1.0"

[features]
default = ["std"]
std = ["chrono/std", "chrono/clock", "alloc"]
serde = ["dep:serde", "chrono/serde"]
alloc = ["postcard/alloc", "chrono/alloc"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "doc_cfg"]
